recursive-include memento/api *
recursive-include memento/blueprint *
recursive-include memento/content_fetchers *
recursive-include memento/conditions *
recursive-include memento/model *
recursive-include memento/notification *
recursive-include memento/processors *
recursive-include memento/realtime *
recursive-include memento/static *
recursive-include memento/templates *
recursive-include memento/tests *
prune memento/static/package-lock.json
prune memento/static/styles/node_modules
prune memento/static/styles/package-lock.json
include memento.py
include requirements.txt
include README-pip.md
global-exclude *.pyc
global-exclude node_modules
global-exclude venv

global-exclude test-datastore
global-exclude memento*dist-info
global-exclude memento/tests/proxy_socks5/test-datastore
